.logo{
	padding-top: 10px;
	padding-left: 10px;
}
.search{
	height: 200px;
}
.top{
	height: 280px;
}
.mainLogo{
	padding-left: 20px;
	padding-top: 20px;
	width: 200px; 
}
input.searchBox{
	padding-top: 30px;
}